.active-text {
	fill: var(--color-secondary) !important;
	color: var(--color-secondary) !important;
	& * {
		fill: var(--color-secondary) !important;
	}
}

.active-bg {
	background-color: var(--color-secondary) !important;
}

.active {
	color: var(--color-primary) !important;
	fill: var(--color-primary) !important;
	& * {
		color: var(--color-primary) !important;
		fill: var(--color-primary) !important;
	}
	background-color: var(--color-secondary) !important;
}
