:root {
	--light-bg-color: #{$color-light-white};
	--light-text-color: #{$color-dark-grey};
	--bg-color: #{$color-white};
	--text-color: #{$color-black};
	--dark-bg-color: #{$color-light-white};
	--dark-text-color: #{$color-dark-grey};

	--color-primary: #{$color-primary};
	--color-secondary: #{$color-secondary};
}

:root.dark-theme {
	// color-scheme: dark;
	--light-bg-color: #{$color-dark-grey};
	--light-text-color: #{$color-light-white};
	--bg-color: #{$color-grey};
	--text-color: #{$color-white};
	--dark-bg-color: #{$color-dark-grey};
	--dark-text-color: #{$color-white};
}

@function theme-color($for) {
	@return var(--#{$for}-color);
}

@mixin theme-colors {
	background-color: theme-color('bg') !important;
	color: theme-color('text') !important;
	fill: theme-color('text') !important;
}

@mixin light-theme-colors {
	background-color: theme-color('light-bg') !important;
	color: theme-color('light-text') !important;
	fill: theme-color('light-text') !important;
}

@mixin dark-theme-colors {
	background-color: theme-color('dark-bg') !important;
	color: theme-color('dark-text') !important;
	fill: theme-color('dark-text') !important;
}

@mixin theme-colors-just-text {
	color: theme-color('text') !important;
	fill: theme-color('text') !important;
}
