.icon {
	@include theme-colors-just-text;
	height: 24px;
	width: 24px;

	&--post-heading {
		z-index: -1;
		height: 65%;
		width: auto;
		position: absolute;
		top: 17.5%;
		left: -35px;
		opacity: 0;
		transition: all $animation-speed-base;
	}
	&--white {
		color: $color-white !important;
		fill: $color-white !important;
	}
	&--primary {
		color: var(--color-primary) !important;
		fill: var(--color-primary) !important;
	}
}