.sidebar {
	@include theme-colors;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	z-index: 10;
	height: 100%;
	width: $sidebar-size;
	transition: transform $animation-speed-base;
	padding-top: $navbar-size;
	opacity: 0.98;

	&--hidden {
		transform: translateX($sidebar-size);
	}

	&__navigation {
		list-style: none;
		&__item {
			font-weight: 600;
			font-size: $text-lg;
			text-transform: uppercase;
			transition: all calc($animation-speed-base * 0.5);
			&:hover {
				color: $color-white;
				background-color: var(--color-secondary);
			}
			a {
				display: flex;
				align-items: center;
				color: inherit;
				text-decoration: none;
				font-family: Oswald, 'Sans-serif';
			}
		}
	}
}

.nav-current {
	color: var(--color-secondary);
}
