<div class="dropdown">
  <button id="bookmark__dropdown__toggle" title='{{t "Continue reading"}}' class='btn btn--flex'>
    {{> "icons/album"}}
  </button>
  <ul id="bookmark__dropdown__drawer" class="dropdown__drawer dropdown__drawer--absolute dropdown__drawer--theme" tabindex="-1">
    <li id="bookmark__placeholder" class="dropdown__drawer__item py-2 px-4">
      <h2 class="dropdown__drawer__title">{{t "Nothing bookmarked yet"}}</h2>
    </li>
  </ul>
</div>