<div id='annoucement-bar-container' class='container hidden' tabindex="-1">
	<div class='row'>
		<div class='col-12'>
			<div id="annoucement-bar" class='toolbar toolbar--theme my-2 p-2'>
				<div id='annoucement-bar-content' class='toolbar__left'>
				</div>
				<div class='toolbar__right'>
					<button id='annoucement-bar-close-button' class="btn btn--flex" title="{{t "Close annoucement bar"}}">
              {{> icons/close }}
          </button>
				</div>
			</div>
		</div>
	</div>
</div>