<section class='text-center my-4 py-4'>
	<h3 class='h2 my-2'>{{t 'This post is only available to subscribers'}}</h3>
	<button data-portal='signup' class='btn btn--xl btn--accent mt-2 mb-1'>
		{{t 'Create an account'}}</button>
	<div></div>
	<p class='mb-2 mt-1'>
		{{t 'Already a member'}}? <a data-portal='signin' href='#'> {{t 'Log in'}} </a>
	</p>
</section>