* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*:not(code, pre, code span) {
	font-family: 'EB Garamond', 'serif';
}

html {
	@include dark-theme-colors;
	overflow-x: hidden;
}

h1,
h1 > *,
h2,
h2 > *,
h2 > * > *,
h3,
h3 > *,
h3 > * > *,
h4,
h4 > *,
h4 > * > *,
h5,
h5 > *,
h5 > * > *,
h6,
h6 > *,
h6 > * > *,
blockquote,
blockquote > *,
blockquote > * > * {
	font-family: Oswald, 'Sans-serif' !important;
}

h1 {
	font-size: $text-max;
}

h2,
h2 > * {
	font-size: $text-xxl;
}

h3,
h3 > * {
	font-size: $text-xl;
}
h4,
h4 > * {
	font-size: $text-lg;
}

h5 {
	font-size: $text-md;
	text-transform: uppercase;
}

h6 {
	font-size: $text-md;
}

blockquote {
	@include rounded-sm;
	@include theme-colors;

	position: relative;
	padding: 1.5rem 1.5rem 1.5rem 3rem;
	border-left: 4px solid var(--color-secondary);
	margin: $text-lg 0;
	font-size: $text-md !important;

	&::before {
		content: '“';
		position: absolute;
		top: -0.75rem;
		left: 0.5rem;
		font-size: 5rem;
		opacity: 0.5;
	}
}

hr {
	margin: 1rem auto;
	width: 80%;
	opacity: 0.5;
}

a:not(#annoucement-bar-container a) {
	@include theme-colors-just-text;
	text-decoration: none;
}

label {
	font-size: $text-md;
}
